sudo: false
language: python
python:
    - "2.6"
    - "2.7"
    - "3.2"
    - "3.3"
    - "3.4"
env:
    - TORNADO_VERSION=3.0.1
    - TORNADO_VERSION=3.2.2
    - TORNADO_VERSION=4.0.2
    - TORNADO_VERSION=4.1.0
install: 
    - "pip install -r requirements.txt -r requirements-tests.txt --use-mirrors"
    - "if [[ ${TRAVIS_PYTHON_VERSION::1} != '3' ]]; then pip install -r requirements-py2.txt --use-mirrors; fi"
    - "pip install tornado==$TORNADO_VERSION"
# only build master and PRs, not every branch
branches:
    only:
        - master
script: "nosetests"
matrix:
    fast_finish: true
